* {
  margin: 0;
  box-sizing: border-box;
}

.about-container {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.about-content {
  margin: 60px 30px 49px 30px;
}

.about-toolset {
  margin: 41px 0 18px 0;
  padding: 28px 27px;
  border-radius: 10px;
  background: #f5f8fd;
}

@media (min-width: 768px) {
  .about-content {
    margin: 0 90px 0 517px;
  }

  .about-toolset {
    width: 266px;
    height: 341px;
  }
}
