body {
  margin: 0;
  box-sizing: border-box;
}

.contact-container {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.contact-content {
  font-family: 'Roboto', sans-serif;
  margin: 35px 28px;
}

.contact-title {
  /* padding: 24px; */
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #4f5461;
}

.contact-text {
  /* padding: 24px; */
  width: 80%;
}

.contact-form {
  margin: 5% auto;

  /* background: url('/src/resources/contact-background.png') no-repeat center/cover; */
}

.contact-form-content {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  gap: 17px;
}

.contact-input-a {
  width: 332px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 14px;
  background: #fff;
  box-shadow: 0 7px 15px 0 rgba(95, 104, 186, 0.13);
  margin: 37px 21px 0 0;
  padding: 16px;
  outline: none;
}

.contact-input-b {
  width: 332px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 14px;
  background: #fff;
  box-shadow: 0 7px 15px 0 rgba(95, 104, 186, 0.13);
  margin: 0 21px 0 0;
  padding: 16px;
  outline: none;
}

.get-in-touch-btn {
  width: 332px;
  height: 59px;
  margin: 0 21px 36px 22px;
  background: #fa4969;
  flex-shrink: 0;
  border-radius: 60px;
  font-family: 'Sora', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

.contact-message {
  width: 375px;
  height: 185px;
  border-radius: 14px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  background: #fff;
  box-shadow: 0 7px 15px 0 rgba(95, 104, 186, 0.13);
  outline: none;
  font-family: 'Sora', sans-serif;
  font-size: 16px;
  color: #91959e;
  padding: 16px;
}

.contact-message::placeholder {
  padding: 15px 0 15px 23px;
}

@media (min-width: 768px) {
  .contact-container {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .contact-content {
    margin: 0 0 0 36.9vw;
  }

  .contact-title {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 800;
    color: #4f5461;
  }

  .contact-text {
    font-family: 'Poppins', sans-serif;
    color: #737986;
    font-size: 16px;
    font-weight: 400;
  }

  .contact-form {
    position: absolute;
    top: 0;
    left: 301px;
    right: 0;
    overflow: hidden;
    background: url('/src/resources/footer-shape.svg');
    background-repeat: no-repeat;
  }

  .contact-form-content {
    display: flex;
    flex-direction: column;
    margin: 41px 0 41px 0;
  }

  .form-items {
    display: flex;
    flex-direction: column;
  }

  .contact-inputs {
    display: flex;
    flex-direction: row;
    gap: 17px;
  }

  .contact-input-a,
  .contact-input-b {
    margin: 22px 0 21px 0;
    width: 23.05vw;
  }

  .contact-message {
    width: 46.67vw;
  }

  .get-in-touch-btn {
    width: 242px;
    height: 59px;
    margin: 41px 0 41px 0;
  }

  .contact-details {
    position: relative;
    left: 250px;
    bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .social-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 28px;
    gap: 13px;
    padding: 5px;
    color: #fff;
    border-bottom: 1px solid #c5cbfe;
  }

  .author-email {
    font-size: 16px;
    color: #c5cbfe;
  }
}
