
html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
}

.title {
  margin-top: 100px;
  font-size: 48px;
  color: #fff;
  font-weight: 700;
}

.project-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-left: 25px;
  padding-top: 22px;
}

.sample {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 98.35%);
  border-radius: 10px;
}

.tech-stack {
  position: absolute;
  left: 0;
  top: inherit;
  right: 0;
  bottom: 0;
  width: auto;
  display: flex;
  justify-content: space-between;
}

.tech-btn {
  width: 91px;
  height: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 12px;
  background: #4f5461;
  color: #e6e9f0;
  border: none;
  border-radius: 24px;
}

@media (min-width: 768px) {
  .heading {
    margin-top: 25px;
    margin-left: 246px;
    margin-bottom: 40px;
    padding-left: 40px;
  }

  .sample {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 98.35%);
    border-radius: 10px;
  }

  .tech-stack {
    position: absolute;
    left: 25px;
    top: 68px;
    display: flex;
    justify-content: space-around;
  }

  .tech-btn {
    margin-left: 0;
    margin-top: 0;
  }
}

/*
MailSent Styling
*/

.mail-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: #ddd;
}

.mail-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  border: 0;
  background: #d5d5d5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
