@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
}

.nav-bar {
  position: absolute;
  left: 24px;
  top: 31px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 60px;
  height: 60px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  background: #4456fb;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 20px;
  text-align: center;
}

.title {
  margin-top: 100px;
  font-size: 48px;
  color: #fff;
  font-weight: 700;
}

.heading {
  margin-left: 25px;
  margin-top: 36px;
  font-family: 'Sora', sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: #4f5461;
}

.project-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-left: 25px;
  padding-top: 22px;
}

.sample {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 98.35%);
  border-radius: 10px;
}

.tech-stack {
  position: absolute;
  left: 25px;
  top: 250px;
  right: 0;
  bottom: 0;
  width: auto;
  display: flex;
  justify-content: space-between;
}

.tech-btn {
  width: 91px;
  height: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 12px;
  background: #4f5461;
  color: #e6e9f0;
  border: none;
  border-radius: 24px;
}

.see-project {
  position: absolute;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #fff;
  width: auto;
  left: 25px;
  top: 300px;
  margin-left: 50px;
  padding: 10px;
  border: none;
  border-radius: 60px;
  background: #4456fb;
  text-align: center;
}

.contact-title {
  padding: 24px;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #4f5461;
}

.contact-msg {
  padding: 24px;
  width: 80%;
}

/*
======================================
Modal view
*/

.modal-menu {
  display: flex;
  justify-content: space-around;
  text-align: right;
  font-size: 12px;
  padding-right: 24px;
  padding-top: 24px;
}

.modal-container {
  box-sizing: border-box;
  margin-top: 62px;
  margin-left: 13px;
  margin-right: 13px;
  width: auto;
  height: 100vw;
  border: 3px solid #fff;
  border-radius: 30px;
  box-shadow: 0 34px 104px 0 rgba(0, 0, 0, 0.25) ;
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  width: 43px;
  height: 43px;
  padding: 10px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  border-radius: 50%;
  background: #4456fb;
  font-size: 40px;
  color: #fff;
}

.project-screenshot {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
}

.profile-info {
  position: absolute;
  top: 115px;
  left: 18px;
  font-family: 'Sora', sans-serif;
  padding: 10px;
  text-align: center;
}

.preview {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}

.preview-thumbnail {
  border: 2px solid #f9855b;
  border-radius: 6px;
}

.modal-tech-stack {
  width: auto;
  display: flex;
  justify-content: space-between;
}

.modal-tech-btn {
  width: 91px;
  height: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 12px;
  background: #4f5461;
  color: #e6e9f0;
  border: none;
  border-radius: 24px;
}

.see-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13px;
}

.modal-project-title {
  margin-top: 34px;
  margin-bottom: 22px;
  margin-left: 18px;
  font-family: 'Sora', sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: #4f5461;
}

.description {
  font-family: 'Sora', sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding-left: 20px;
  padding-right: 17px;
  padding-top: 21px;
  margin-bottom: 34px;
  text-align: justify;
}

@media (min-width: 768px) {
  .nav-bar {
    position: fixed;
    left: 71px;
    top: 200px;
    bottom: 0;
    gap: 20px;
    width: 71px;
    height: 100vw;
    flex-direction: column;
    justify-content: flex-start;
  }

  .logo {
    position: fixed;
    top: 47px;
    left: 80px;
    font-family: 'roboto', sans-serif;
  }

  .heading {
    margin-top: 25px;
    margin-left: 246px;
    margin-bottom: 40px;
    padding-left: 40px;
  }

  .sample {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 98.35%);
    border-radius: 10px;
  }

  .tech-stack {
    position: absolute;
    left: 25px;
    top: 68px;
    display: flex;
    justify-content: space-around;
  }

  .tech-btn {
    margin-left: 0;
    margin-top: 0;
  }

  .see-project {
    position: absolute;
    left: 20px;
    top: 158px;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    color: #fff;
    width: auto;
    padding: 10px;
    margin-left: 0;
    border: none;
    border-radius: 24px;
    background: #4456fb;
    text-align: center;
  }

  .contact-title {
    margin-left: 250px;
    padding-left: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 800;
    color: #4f5461;
  }

  .contact-msg {
    margin-left: 250px;
    padding-left: 50px;
    width: 50%;
    font-family: 'Poppins', sans-serif;
    color: #737986;
    font-size: 16px;
    font-weight: 400;
  }
}
